<div class="dashboard">
    <h2>Here you can see the overview of your goals</h2>

    {{#if dashboardGoals}}
    {{#each dashboardGoals}}
    <a href="/user/goals/{{this._id}}">
        <h3>{{this.goalName}}</h3>
    </a>
    {{!-- Add attributes max and value --}}
    <div id="goalProgress">
        <progress id="goalProgressBar" max="100" value={{this.percentage}}> </progress>
    </div>
    <button><a href="/user/goals/{{this._id}}/progress">Add your progress here.</a></button>

    {{/each}}
    {{else}}
    <h4>You have no goals yet. Please, create one!</h4>
    {{/if}}
    <br>
    <button id="create-another-goal" class='basic-btn' id="dashboard-btn">
        <a href="/createGoal">Create a new goal</a></button>
</div>