<form action="/user/goals/{{goal._id}}/edit" method="POST" id="update-goal">
    <div>
        <label for="goalName"> Give your goal a cool name: </label>
        <input type="text" id="goalName" name="goalName" value="{{goal.goalName}}" />
    </div>
    <div>
        <label for="category"> Goal category </label>
        <select name="category" id="category" value="{{goal.category}}" />
        <option value="" disabled selected hidden>Choose a category</option>
        <option value="books">Books</option>
        <option value="movies">Movies</option>
        <option value="runs">Runs</option>
        <option value="gym sessions">Gym sessions</option>
        <option value="bike rides">Bike rides</option>
        <option value="cooking at home">Cooking at home</option>
        </select>
    </div>
    <div>
        <label for="goalNumber"> Goal number </label>
        <input type="text" id="goalNumber" name="goalNumber" value="{{goal.goalNumber}}" />
    </div>
    <div>
        <label for="startDate"> Start date </label>
        <input type="date" id="startDate" name="startDate" value="{{goal.startDate}}" />
    </div>
    <div>
        <label for="endDate"> End date </label>
        <input type="date" id="endDate" name="endDate" value="{{goal.endDate}}" />
    </div>
    <button type="submit">Submit goal</button>
</form>