<h1>Goal specifics</h1>

<div>
    <p>Your goal is:<br>
        <span id="theGoalName">{{goal.goalName}}</span>
    </p>
</div>

<div>
    <p>It is all about them: <br>
        <span id="goalCategory">{{goal.category}}</span>
    </p>
</div>

<div>
    <p>Your goal was to do <span id="theGoalNumber">{{goal.goalNumber}}</span> before <span
            id="endDate">{{goal.endDate}}</span>!</p>
</div>

<div>
    <p>You are currently at <span id="theCurrentNumber">{{goal.currentNumber}}</span>, which means you have
        finished
        <span id="thePercentage">{{goal.percentage}} %</span>!
    </p>
</div>

<button><a href="/user/dashboard">Return to your dashboard</a></button>