<!--Edit your personal profile-->

{{#if user}}

<div id="user-profile">
  <div class="profile-background"></div>
  <div class="profile-picture">
    <img src="{{ user.profilePicture }}" alt="Profile picture" class="myProfilePicture">
    <h1>{{ user.username }}</h1>
  </div>

  <div class="edit-text">
    <h3>You are editing your profile</h3>
  </div>

  <div id="user-data-edit">

    <form id="profile-edit" method="POST" action="/user/my-profile/edit">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" value="{{ user.username }}"><br>

      <label for="fullname">Full name</label>
      <input type="text" name="fullname" id="fullname" value="{{ user.fullname }}"><br>

      <label for="profilePicture">Profile picture</label>
      <input type="text" name="profilePicture" id="profilePicture" value="{{ user.profilePicture }}"><br>

      <label for="email">E-mail</label>
      <input type="email" name="email" id="email" value="{{ user.email }}"><br>

      <label for="location">Location</label>
      <input type="location" name="location" id="location" value="{{ user.location }}"><br>

      <label for="description">A short word about yourself</label>
      <input type="text" name="description" id="description" value="{{ user.description }}"><br>

      <label for="favouriteBook">Favourite book</label>
      <input type="text" name="favouriteBook" id="favouriteBook" value="{{ user.favouriteBook }}"><br>

      <label for="favouriteMovie">Favourite movie</label>
      <input type="text" name="favouriteMovie" id="favouriteMovie" value="{{ user.favouriteMovie }}"><br>

      <span>Privacy of the account</span><br>
      <input type="radio" name="privacy" id="private" name="privacy" value="private">
      <label for="private">Private</label><br>
      <input type="radio" name="privacy" id="public" name="privacy" value="public">
      <label for="public">Public</label><br>

      <span>Current color palette</span><br>
      <input type="radio" name="colorMode" id="colormode1" name="colormode1" value="Blue">
      <label for="colormode1"> Blue</label><br>
      <input type="radio" name="colorMode" id="colormode2" name="colormode2" value="Green">
      <label for="colormode2"> Green</label><br>
      <input type="radio" name="colorMode" id="colormode3" name="colormode3" value="Orange">
      <label for="colormode3"> Orange</label><br><br>

      <button type="submit" id="save-edit-profile">Save the changes!</button>
    </form>
  </div>

</div>
{{/if}}