<!--View your personal profile -->

{{#if user}}

<div class="userProfile">

  <div class="profile-picture">
    <img src="{{ user.profilePicture }}" alt="Profile picture" class="myProfilePicture">
    <h1 class="profileUsername">{{ user.username }}</h1>
  </div>

  <div class="user-btn">
    <button type="submit" id="edit-profile" class="basic-btn"><a href="/user/my-profile/edit">Edit your
        profile</a></button><br>
    <button type="submit" id="delete-profile" class="basic-btn"><a href="/user/my-profile/delete"></a>Delete your
      profile</button>
  </div>

  <div class="userData">
    <h4><span>Username: </span>{{ user.username }}</h4>
    <h4><span>Full Name: </span>{{ user.fullname }}</h4>
    <h4><span>Email: </span>{{ user.email }}</h4>
    <h4><span>Location: </span>{{ user.location }}</h4>
    <h4><span>Favourite book: </span>{{ user.favouriteBook }}</h4>
    <h4><span>Favourite movie: </span>{{ user.favouriteMovie }}</h4>
    <h4 class="description"><span>A short word about yourself: </span>{{ user.description }}</h4>
    </h4>
  </div>

</div>
{{/if}}