<div class="userProfile">

  <div class="profile-picture">
    <img src="{{ thisUser.profilePicture }}" alt="Profile picture" class="myProfilePicture">
    <h1 class="profileUsername">{{ thisUser.username }}</h1>
  </div>

  <div class="user-btn">
    <button type="submit" id="invite-btn" class="basic-btn">
      <a href="/user/profile/{{ thisUser._id }}/invitation-sent">Invite to
        friends</a></button>
  </div>

  <div class="userData">
    <h4><span>Username: </span>{{ thisUser.username }}</h4>
    <h4><span>Full Name: </span>{{ thisUser.fullname }}</h4>
    <h4><span>Email: </span>{{ thisUser.email }}</h4>
    <h4><span>Location: </span>{{ thisUser.location }}</h4>
    <h4><span>Favourite book: </span>{{ thisUser.favouriteBook }}</h4>
    <h4><span>Favourite movie: </span>{{ thisUser.favouriteMovie }}</h4>
    <h4 class="description"><span>A short word about yourself: </span>{{ thisUser.description }}</h4>
    </h4>
  </div>

</div>