<h1> This is other user's profile. We made it!</h1>

{{#if user}}

<div id="user-profile">
  <div class="profile-background"></div>
  <div class="profile-picture">
    <img src="{{ user.profilePicture }}" alt="Profile picture">
  </div>

  <div id="user-data">
    <h1>{{ user.username }}</h1>

    <h4>Username: {{ user.username }}</h4>
    <h4>Full Name: {{ user.fullname }}</h4>
    <h4>Email: {{ user.email }}</h4>
    <h4>Location: {{ user.location }}</h4>
    <h4>A short word about yourself: {{ user.description }}</h4>
    <h4>Favourite book: {{ user.favouriteBook }}</h4>
    <h4>Favourite movie: {{ user.favouriteMovie }}</h4>
    <h4>Privacy of your profile: {{ user.privacy }}</h4>
    <h4>Current color palette: <div style="color: {{ user.colorMode }}">COLOR CIRCLE</div>
    </h4>
  </div>

</div>
{{/if}}