<h1>This is step 1 DONE</h1>

<div>
  <div id="checklist">
    <h3>The checklist</h3>
    <input type="checkbox" id="step1" name="step1" value="step1" checked>
    <label for="step1"> Step 1: Fill in your profile</label><br>

    <input type="checkbox" id="step2" name="step2" value="step2">
    <label for="step2"> Step 2: Set your first goal</label><br>

    <input type="checkbox" id="step3" name="step3" value="step3">
    <label for="step3"> Step 3: Build your friends circle</label><br><br>

    <button typu="submit"><a href="/onboarding/step-2">Next step!</a></button><br><br>
  </div>

  <!--View your personal profile -->

  {{#if user}}

  <div class="userProfile">
    <div class="profile-background"></div>
    <div class="profile-picture">
      <img src="{{ user.profilePicture }}" alt="Profile picture" class="myProfilePicture">
      <h1 class="profileUsername">{{ user.username }}</h1>
    </div>

    <div id="user-data">
      <h1>{{ user.username }}</h1>

      <h4>Username: {{ user.username }}</h4>
      <h4>Full Name: {{ user.fullname }}</h4>
      <h4>Email: {{ user.email }}</h4>
      <h4>Location: {{ user.location }}</h4>
      <h4>A short word about yourself: {{ user.description }}</h4>
      <h4>Favourite book: {{ user.favouriteBook }}</h4>
      <h4>Favourite movie: {{ user.favouriteMovie }}</h4>
      </h4>
    </div>

    <div class="user-btn">
      <button type="submit" id="edit-profile"><a href="/onboarding/step-1">Edit your profile</a></button><br>

      <form method="POST" action="/user/my-profile/delete">
        <button type="submit" id="delete-profile"><a href="/user/my-profile/delete"></a>Delete your profile</button>
      </form>
    </div>

  </div>
  {{/if}}

</div>