<h1>This is step 2</h1>

<div>
  <div id="checklist">
    <h3>The checklist</h3>
    <input type="checkbox" id="step1" name="step1" value="step1" checked>
    <label for="step1" checked> Step 1: Fill in your profile</label><br>

    <input type="checkbox" id="step2" name="step2" value="step2">
    <label for="step2"> Step 2: Set your first goal</label><br>

    <input type="checkbox" id="step3" name="step3" value="step3">
    <label for="step3"> Step 3: Build your friends circle</label><br><br>

    <button typu="submit"><a href="/onboarding/step-3">Next step!</a></button><br><br>
  </div>

  <!--Set your first goal here -->
  <h1>Here you can see an overview of your goals!</h1>

  {{#if dashboardGoals}}
  {{#each dashboardGoals}}
  <a href="/user/goals/{{this._id}}">
    <h3>{{this.goalName}}</h3>
  </a>
  {{!-- Add attributes max and value --}}
  <div id="goalProgress">
    <progress id="goalProgressBar" max="100" value={{this.percentage}}> </progress>
  </div>
  <button><a href="/user/goals/{{this._id}}/progress">Add your progress here.</a></button>

  {{/each}}
  {{else}}
  <h3>You have no goals yet. Please, create one!</h2>
    {{/if}}
    <br>
    <button id="create-another-goal"><a href="/createGoal">Create another goal</a></button>
    <button typu="submit"><a href="/onboarding/step-2/done">Submit the goal!</a></button><br><br>

</div>